# List of tallest buildings by height to roof
https://en.wikipedia.org/wiki/List_of_tallest_buildings_by_height_to_roof

In [ ]:
import pandas as pd
%matplotlib inline

In [ ]:
print(f'pandas version: {pd.__version__}')

In [ ]:
from datetime import datetime
str(datetime.now())

In [ ]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_tallest_buildings_by_height_to_roof', 
                 header=0)
len(dfs)

In [ ]:
dfs # list of data frames

In [ ]:
dfs[0]

In [ ]:
dfs[1]

In [ ]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_tallest_buildings_by_height_to_roof', 
                 header=0, 
                 match='Height \(m\)')
len(dfs)

In [ ]:
dfs[0]

In [ ]:
dfs[0].info()

In [ ]:
df=dfs[0].drop('Reference', axis=1)

In [ ]:
df

In [ ]:
# df['Rank'].str.replace('\D', '').astype('int')
df['Rank']=df['Rank'].str.replace('\D', '').astype('int')
df

In [ ]:
df.info()

In [ ]:
# df['Height (m)'].str.replace(r'[^\d.]','').astype('float')
df['Height (m)']=df['Height (m)'].str.replace(r'[^\d.]', '').astype('float')
df

In [ ]:
# df['Height (ft)'].str.replace(r'[^\d.]','').astype('float')
df['Height (ft)']=df['Height (ft)'].str.replace(r'[^\d.]','').astype('float')
df

In [ ]:
# df['Height (ft)'].rank(ascending=False, method='min')
df['Rank2']=df['Height (ft)'].rank(ascending=False, method='min').astype('int')

In [ ]:
df